<!DOCTYPE html>
<html ng-app="enigmaApp">
	<head>
		<title>Enigma Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<link rel="stylesheet" href="dist/css/enigma.css">
		<link rel="icon" type="image/png" href="dist/img/logo.png" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="mainController">
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<nav class="navbar navbar-default" id="site-nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target="#navbar"
					data-toggle="collapse" type="button"><span class=
					"sr-only">Toggle navigation</span> <span class=
					"icon-bar"></span> <span class="icon-bar"></span> <span class=
					"icon-bar"></span></button> <a class="navbar-brand" href=
					"index.html"><span class="appLogo"></span><span class=
					"siteLogo"></span><span class="appTitle">{{appTitle}}</span></a>
				</div>
			</div><!--/.container-fluid -->
		</nav>

		<main class="container">
			<div class="row">
				<div class="col-md-8">
					<ng-view>Loading...</ng-view>
				</div>			
			</div>			
		</main>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<span class=
						"glyphicon glyphicon-copyright-mark glyphicon-flip-horizontal">
						</span>&nbsp;CopyLeft <span class="currentYear">{{currentYear}}</span>.
					</div>
				</div>
			</div>
		</footer>
		<script src="dist/js/enigma.js"></script>
	</body>
</html>
