* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
  color: $black;
  font: 15px/23px 'rubrik semi bold', serif, sans-serif;
}

/* Site navigation header */
nav#site-nav{
	/* Site branding element */
	.navbar-brand{
		max-width: 500px;
		width: 500px;
		padding: 12px;
		/* title & logo element */
		span{
			/* Site Logo */
			&.appLogo{
				background-image: url("../img/logo.png");
				background-repeat: no-repeat;
				background-size: 100% 100%;
				height: 25px;
				width: 25px;
				display: inline-block;
				transition: all .8s linear;
				-webkit-transition: all .8s linear;
				&:hover, &:focus{
					transition: 0.6s;
					-webkit-transition: 0.6s;
					transform-style: preserve-3d;
					-webkit-transform-style: preserve-3d;
					transform: rotateZ(360deg);
					-webkit-transform: rotateZ(360deg);
				}
			}
			&.siteLogo {
				background-image: url("../img/logo-text@2x.png");
				width: 100px;
				height: 38px;
				background-size: 95px 26px !important;
				background-position: center center;
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				margin-left: 0.5%;
			}
			/* Site title */
			&.appTitle{
				display: inline-block;
				margin-left: 24%;
			}
		}
	}
}

/* Main */

main{
	margin: 5%;
	.panel{
		&.panel-custom, .panel-heading{
			border-color: $primary-color;
		}
		.panel-heading{
			background-color: $primary-color;
			color: $white;
		}
	}
	.btn-group, .form-group{
		width: 100%;
		.btn{
			width: 50%;
			&.btn-custom{
				color: $white;
				background-color: $primary-color;
				&:hover, &:focus{
					background-color: $secondary-color;
				}
				&:first-child{
					border-right: 2px solid $primary-color-dark;
				}
			}
		}
	}

	.form-group{
		.btn{
			width: 100%;
		}
	}

	form{
		.custom-radio{
			label{
				width: 200px;
				border-radius: 3px;
				background: $white;
				border: 1px solid $primary-color;
				&:hover{
					background: $secondary-color;
				}
			}
			input{
				&.radio{
					margin: 0px;
					padding: 0px;
					&:empty {
						margin-left: -999px;
						height: 0px;
						width: 0px;
						~ label {
							margin: 0px;
							margin-top: 2%;
							margin-bottom: 2%;
							position: relative;
							float: left;
							line-height: 2.5em;
							text-indent: 3.25em;
							cursor: pointer;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							&:before {
								position: absolute;
								display: block;
								top: 0;
								bottom: 0;
								left: 0;
								content: '';
								width: 2.5em;
								background: $primary-color;
								color: $secondary-color;
								border-radius: 3px 0 0 3px;
							}
						}
					}
					&:hover{
						&:not(:checked) {
							~ label {
								color: $white;
							}
							&:before{
								content:'\2714';
								text-indent: .9em;
								color: $white;
							}
						}
					}
					&:checked{
						 ~ label{
							color:  $white;
							background-color: $primary-color;
							&:before {
								content:'\2714';
								text-indent: .9em;
								color: $white;
								background-color: $primary-color;
							}
						}
					}

				}
			}
			&:focus{
				~ label{
					:before {
						box-shadow: 0 0 0 3px #999;
					}
				}
			}
			&:last-child{
				label{
					margin-bottom: 10% !important;
				}
			}
		}
	}
}

/* Footer */
footer{
	background-color: $footer-background-color;
	color: $footer-color;
	padding: 1% 0px 1% 0px;
	font-size: 13px;
	line-height: 1em;

	/* footer icon */
	.glyphicon-flip-horizontal{
		transform: rotate(-90deg);
		-webkit-transform: rotate(-180deg);
	}
}

