$icon-font-path: "../fonts/bootstrap/";
$fa-font-path:   "../fonts/fontawesome/";


/* Variables */
$black: #000000;
$white: #ffffff;
$primary-color: #1fbba6;
$primary-color-dark: #0E9381;
$secondary-color: #273640;
$footer-color: #606060;
$footer-background-color: #272727; 

/* Imports */
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/fontawesome/scss/font-awesome';
@import '../../bower_components/angular-chart.js/dist/angular-chart.css';

@font-face {
	font-family: 'rubrik semi bold';
	src: 	url('../fonts/rubrik-semi-bold.otf'),
		url('../fonts/rubrik-semi-bold.ttf')  format('truetype'),
		url('../fonts/rubrik-semi-bold.svg#svgFontName') format('svg');
}

@import '_application';
