<div class="container">
	<div class="row">
		<div class="jumbotron"">
			<h2>Simple Charting Demo</h2>
			<p>This script makes use of ChartsJS, AngularJS, Javascript, jQuery, & Twitter
			Bootstrap.</p>
			<p>If you don't see any chart below, then the only probable reason is that there
			is no data. Click <kbd>Add Data</kbd> to add some and return back to this page.</p> 
		</div>
	</div>
	<br/>
 	<div class="row">
		<div ng-if="itemCount === 0">
			<div class="well">
				Looks like there are no items in the collection.<br /><br />
				Why not click the button below to add items?
			</div>
		</div>
		<chartDoughnut data="data"  class="col-lg-6 col-sm-12 chart chart-doughnut" width="640px" height="480px" labels="labels"></chartDoughnut>
		<div ng-if="itemCount > 0">
			<canvas id="doughnut" class="col-lg-6 col-sm-12 chart chart-doughnut" width="640px" height="480px" data="data" labels="labels"></canvas> 
		</div>
	</div>
	<br />
	<div class="row">
		<div class="form-group">
			<input type="button" value="Add Data" ng-click="goAdd()" class="btn btn-custom" />
		</div>
	</div>
</div>
